.container{
	width: 800px;
	margin: 0 auto;
}

.header{
	position: relative;
	background-color: #33CCFF;
	height: 100px;
	width: 800px;
}

.a{
	position: center;
	font-family: "Georgia", serif;
	font-size: 40px;
	padding: 20px;
}
.s{
	font-family: "Georgia", serif;
	font-size: 20px;
	padding-bottom: 30px;
}
ul.submenu li{
	font-size: 90%;
	padding-bottom: 20px;
}
.header-right{
	position: absolute;
	top: 20px;
	right :20px;
	padding: 10px;
	background-color: #fff;
}
ul.header-right li{
	position: center;
	font-size: 30px;
}

.header-right > li{
	height: 40px;
	width: 40px;
	background-color: #00ff00;
	float: left;
	margin-left: 10px;
}

.header-right > li:first-child{
　　margin-left: 0; 
}

.sidebar{
	float: left;
	position: relative;
	background-color: #FFFFFF;
	height: 400px;
	width: 200px;
}
.b{
	font-family: "Georgia", serif;
	font-size: 20px;
	padding-bottom: 30px;
}
.main{
	float: right;
	background-color: #CCFFFF;
	height: 400px;
	width: 600px;
}
ul.main-left li{
	font-size: 90%;
	padding-bottom: 10px;
}
img{
	width: 96px;
	height: 65px;
}
.footer{
	background-color: #33FFFF;
	height: 100px;
	width: 800px;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
address{
	font-style:normal;
	font-size:small;
	padding:5px 0px 5px 0px;
}




